

body {
  margin: 0;
  display: flex;
    overflow-y: hidden;
    background-color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0 40px;
    background-color: #000;
}
